<p>Hier bei Mozilla sind wir eine globale Gemeinschaft aus Entwicklern, Vorausdenkern, Erschaffern, welche zusammen daran arbeiten...</p>
<p>Hier bei Mozilla sind wir eine globale Gemeinschaft aus</p>


<ul>
  <li>Entwicklern</li>
  <li>Vorausdenkern</li>
  <li>Erschaffern</li>
</ul>

<p>welche zusammen daran arbeiten ... </p>

<a href="https://www.mozilla.org/en-US/about/manifesto/">Mozilla Manifesto</a>
<img src="https://www.fiff.de/veranstaltungen/fiffkon/jt2011/logo_hm/image" alt="hm logo" >